{% import 'macro/el.twig' as el %}
{# Determine alignment (Gutenberg passes this via block.align) #}
{% set align = block.align ?? '' %}
{# Generate unique ID for this slider instance #}
{% set slider_id = 'carousel-team-' ~ random() %}

{# Base wrapper classes #}
{% set wrapper_classes = [
    className,
    block.className,
    'text-center',
    'relative'
]|join(' ')|trim %}

<section
	{% if fields.block_id %} id="{{ fields.block_id|replace(' ', '-') }}" {% endif %} class="{{ wrapper_classes }}">
	{# Only wrap inner content in container when NOT full width #}
	{% set inner_classes = [] %}
	{% set bg_color = block.backgroundColor|default('transparent') %}
	{% if align != 'full' %}
		{% set inner_classes = inner_classes|merge([
			'container', 
			'mx-auto',
			'text-' ~ (block.textColor|default('white'))
			]) %}
		{# Add background color class only if no background image #}
		{% if not fields.background_image %}
			{% set inner_classes = inner_classes|merge(['bg-' ~ bg_color]) %}
		{% endif %}
	{% endif %}

	<div class="{{ inner_classes|join(' ') }} text-{{ block.textColor|default('white')}}"{% if fields.background_image %} style="background-color: var(--wp--preset--color--{{ bg_color }}); background-image: url('{{ fields.background_image.url }}'); background-size: cover; background-repeat: no-repeat; background-position: center;"{% endif %}>
		<div class="lg:w-[90%] mx-auto w-full pt-24 pb-52 flex flex-col items-center justify-center">
      {% if fields.placeholder_image %}
        <img src="{{ fields.placeholder_image.url }}" alt="{{ fields.placeholder_image.alt }}" title="{{ fields.placeholder_image.title }}" class="w-fit object-contain mb-8"/>
      {% endif %}
    </div>
  </div>

  {% if fields.cta_link %}
		<div class="{{ inner_classes|join(' ') }} pb-30 bg-{{ block.backgroundColor|default('transparent') }} text-{{ block.textColor|default('white')}}">
			<div class="wrapper-cta flex flex-col items-center justify-center bg-{{ block.backgroundColor|default('transparent') }}">
				<a href="{{ fields.cta_link.url }}">
					<img src="{{ fields.cta_image.url }}" alt="{{ fields.cta_image.alt }}" title="{{ fields.cta_image.title }}" class="mx-auto relative top-20  z-30"/>
				</a>
			</div>
		</div>
  {% elseif fields.bottom_banner_content %}
		<div class="{{ inner_classes|join(' ') }} pb-30 bg-{{ block.backgroundColor|default('transparent') }} text-{{ block.textColor|default('white')}}">
			<div class="wrapper-cta font-oswald font-normal text-[18.74px] leading-[26.04px] tracking-[3px] uppercase flex flex-col items-center justify-center relative top-20 z-30 rounded-tl-xl rounded-tr-xl pt-12 pb-8 px-8 lg:w-1/2 mx-auto bg-{{ fields.bottom_banner_bg_color|default('purple') }}">
				{{ fields.bottom_banner_content|raw }}
			</div>
		</div>
	{% endif %}

	{% if fields.bottom_border_image %}
		<div class="absolute -bottom-16 z-10 w-full mb-8">
			<img src="{{ fields.bottom_border_image.url }}" alt="{{ fields.bottom_border_image.alt }}" class="mx-auto"/>
		</div>
	{% endif %}
</section>