{% import 'macro/el.twig' as el %}
{# Determine alignment (Gutenberg passes this via block.align) #}
{% set align = block.align ?? '' %}
{# Generate unique ID for this slider instance #}
{% set slider_id = 'carousel-team-' ~ random() %}

{# Base wrapper classes #}
{% set wrapper_classes = [
    className,
    block.className,
    'relative'
]|join(' ')|trim %}

<section
	{% if fields.block_id %} id="{{ fields.block_id|replace(' ', '-') }}" {% endif %} class="{{ wrapper_classes }}">
	{# Only wrap inner content in container when NOT full width #}
	{% set inner_classes = [] %}
	{% set bg_color = block.backgroundColor|default('transparent') %}
	{% if align != 'full' %}
		{% set inner_classes = inner_classes|merge([
			'container', 
			'mx-auto',
			'text-' ~ (block.textColor|default('white'))
			]) %}
	{% endif %}

	<div class="{{ inner_classes|join(' ') }} text-{{ block.textColor|default('white')}} bg-{{ bg_color }}" {% if fields.background_image %} style="background-color: var(--wp--preset--color--{{ bg_color }}); background-image: url('{{ fields.background_image.url }}'); background-size: cover; background-repeat: no-repeat; background-position: center;" {% endif %}>
		<div class="lg:w-[90%] mx-auto w-full pt-24 pb-32 flex flex-col items-center justify-center">


			{% if fields.title %}
				{{ el.heading({ 
            field: fields.title, 
            block: block,
            colors: color,
            classes: 'titles__main text-6xl font-bold text-center mb-8' }) 
        }}
			{% endif %}

      {% if fields.options %}
        <div class="wrapper-options w-full grid lg:grid-cols-3 grid-cols-1 lg:gap-0 gap-4 pt-12 pb-52">
          {% for option in fields.options %}
            <div class="wrapper-option hover:scale-115 w-full flex flex-col items-center justify-center mx-auto text-center py-16 px-20 bg-{{ option.background_color|default('blue-mid') }} transition-transform duration-200">
              {% if option.content %}
                <p class="font-oswald font-bold text-[55.67px] leading-[50.66px] text-center uppercase">{{ option.content }}</p>
              {% endif %}
              {% if option.image %}
                <img src="{{ option.image.url }}" alt="{{ option.image.alt }}" class="mx-auto mt-4"/>
              {% endif %}
            </div>
          {% endfor %}
        </div>    
      {% endif %}
		</div>
	</div>

  {% if fields.bottom_border_image %}
		<div class="absolute bottom-12 left-0 z-10 w-full -mb-12">
			<img src="{{ fields.bottom_border_image.url }}" alt="{{ fields.bottom_border_image.alt }}" class="mx-auto"/>
		</div>
	{% endif %}
</section>
